@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./assets/fonts/lato-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./assets/fonts/lato-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.QuotePulpe {
  font-family: 'Lato';
  background-color: black;
  color: white;
  min-height: 100vh;

  header {
    font-size: 2rem;
    padding: 30px 0;
    text-align: center;
  }

  .quote-form {
    margin: 0 auto;
    padding: 15px;
  }

  .cat-qty-card {
    background: red;
    margin-bottom: 20px;

    .cat-title {
      padding: 15px 0;
    }
  }

  .qty-card {
    background: green;
    padding: 15px 0;
    margin-bottom: 10px;

    .qty-info {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }

    .qty-counter-wrapper {
      display: flex;
      justify-content: center;

      .qty-counter {
        background: #f9f8f6;
        border: 1px solid #f9f8f6;
        border-radius: 30px 30px;

        input {
          background: #f9f8f6;
          text-align: center;
          border: none;
          width: 60px;
        }

        button {
          background: none;
          border: none;
          font-size: 1.2rem;
          font-family: 'Lato';
          text-shadow: none;
          vertical-align: middle;
          padding: 10px;
        }
      }
    }
  }

  
}